<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
 th:replace="admin/base::layout(~{::corpseedBodyContent})">
<body>
              <div class="container-fluid" th:fragment="corpseedBodyContent">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                	<form th:action="${hrScreening.id==0||hrScreening.status=='3'}?@{/admin/interviews/business-round/update}:'javascript:void(0)'" method="post" id="add_hr_screening" th:object="${hrScreening}">
                    <div class="col-lg-9">
                        <div class="card grid-margin stretch-card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h4 class="card-title">Business Round</h4>
                                    <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary" onclick="goBack()">Back</a>
                                </div>
								 <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
			  	               	     <p class="text-center" th:text="${session.message.content}"></p>  	               	     
			  	               	     <th:block th:text="${#session.removeAttribute('message')}"></th:block>
					             </div>                                
                                <label class="form-group">
                                    Status
                                    <select class="form-control" th:field="*{status}">
                                    	<option value="">Select Status</option>
                                    	<option value="1">Selected</option>
                                    	<option value="2">Rejected</option>
                                    	<option value="3">On-Hold</option>                        	                                    	
                                    </select>
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('status')}" th:text="${e}"></span>
                                </label>                                
                                <label class="form-group">
                                    Feedback
                                    <textarea th:rows="6" th:field="*{comment}" class="form-control" 
                                    placeholder="Feedback here..." th:classappend="${#fields.hasErrors('comment') ? 'is-invalid':''}" 
                                    aria-describedby="emailHelp"></textarea>
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('comment')}" th:text="${e}"></span>
                                </label>  
                                <input type="hidden" th:field="*{user}">
                                <input type="hidden" th:field="*{interviewMode}">
                                <input type="hidden" th:field="*{dateTime}">
                                <input type="hidden" th:field="*{id}">
                                <input type="hidden" th:field="*{uuid}">
                                <input type="hidden" th:field="*{trackApplication}">
                                <input type="hidden" th:field="*{user}">
                                <input type="hidden" th:field="*{addedByUuid}">    
                                <input type="hidden" name="postDate" th:value="${#dates.format(#dates.createNow(), 'YYYY-MM-dd')}">                         
							</div>
						</div> 
                    </div>
                    <div class="col-lg-3 mx-auto ">
                        <div class="card grid-margin stret ch-card">
                            <div class="card-body">
                                <h4 class="card-title">State Status</h4>
                                <div class="alert alert-info">
                                    <i class="las la-sign"></i> Status: <span class="text-info">Published</span>
                                </div>
                                <div class="alert bg-light alert-secondary">
                                    Revisions: <span class="text-secondary">4 Revisions</span>
                                </div>
                                <div class="custom-control custom-checkbox mx-1 mb-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4651">
                                    <label class="custom-control-label" for="customCheck4651">Add to featured posts</label>
                                </div>
                                <p class="text-muted mb-2 px-1">
                                    <i class="las la-calendar"></i>Last updated on <span class="date text-dark">Dec 28, 2020 at 15:13</span>
                                </p>
                                <p class="text-muted px-1 mb-0">
                                    <i class="las la-calendar"></i>Published on <span class="date text-dark">Feb 13, 2019 at 17:13</span>
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between">
                                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="goBack()">Discard</button>
                                    <button class="btn d-none btn-outline-secondary btn-sm"> Save as draft</button>
                                    <button th:if="${hrScreening.id==0||hrScreening.status=='3'}" type="submit" class="btn btn-primary btn-sm disableMePlease"><i class="las la-upload mr-1"></i>  Publish</button>
                                    <button th:unless="${hrScreening.id==0||hrScreening.status=='3'}" type="button" disabled class="btn btn-primary btn-sm disableMePlease"><i class="las la-upload mr-1"></i>  Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div></div>
                <div th:replace="admin/includes/javascript :: javascript"></div>
				<script type="text/javascript">
				$(document).ready(function(){
					$('#InterviewerId').select2({
			    		  placeholder: 'Select user',
			    		  allowClear: true
	    				});
				});			
				function selectInterviewer(data,role){
					if(data=="1"&&(role.includes('HR')||role.includes('ADMIN'))){
						$("#InterviewerSelect").show();
						$("#InterviewMode").show();
						$("#InterviewDateTime").show();
					}else{
						$("#InterviewerSelect").hide();
						$("#InterviewMode").hide();
						$("#InterviewDateTime").hide();
					}
				}
                $(function() { 
              	   $("#add_hr_screening").validate({
              	      // Specify validation rules
              	      rules: {
              	    	status: "required",
              	    	comment: "required"},
              	      // Specify validation error messages
              	      messages: {
              	    	status: "Please select status !!",
              	    	comment: "Please enter feedback !!"},
              	     submitHandler: function(form) {
              	    	 $(".disableMePlease").attr("disabled","disabled");
              	        form.submit();
              	      }
              	    });
              	  });
				</script>                
            </div>            
</body>
</html>