<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
 th:replace="admin/base::layout(~{::corpseedBodyContent})">

<body>
              <div class="container-fluid" th:fragment="corpseedBodyContent">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xl-12">
                	<form th:action="@{|/admin/candidates/change-password/${uuid}|}" method="post" onsubmit="disableMe()" style="display:inherit;">
                    <div class="col-lg-9 ">
                        <div class="card grid-margin stretch-card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h4 class="card-title">Change Password</h4>
                                    <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary" onclick="goBack()">Back</a>
                                </div>
								 <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert" style="background: #084ee50a">
			  	               	     <p class="text-center" th:text="${session.message.content}"></p>  	               	     
			  	               	     <th:block th:text="${#session.removeAttribute('message')}"></th:block>
					             </div>
                                <label class="form-group">
                                    New Password
                                    <input type="password" autocomplete="off" th:value="${newPassword}" name="newPassword" class="form-control" placeholder="New password..." required="required">                                    
                                </label>
                                <label class="form-group">
                                    Confirm New Password
                                    <input type="password" autocomplete="off" th:value="${confirmNewPassword}" name="confirmNewPassword" class="form-control" placeholder="Confirm New password..." required="required">                                    
                                </label>
							</div>
						</div> 
                    </div>
                    <div class="col-lg-3 mx-auto ">
                        <div class="card grid-margin stret ch-card">
                            <div class="card-body">
                                <h4 class="card-title">Employee Status</h4>
                                <div class="alert alert-info">
                                    <i class="las la-sign"></i> Status: <span class="text-info">Published</span>
                                </div>
                                <div class="alert bg-light alert-secondary">
                                    Revisions: <span class="text-secondary">4 Revisions</span>
                                </div>
                                <div class="custom-control custom-checkbox mx-1 mb-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4651">
                                    <label class="custom-control-label" for="customCheck4651">Add to featured employee</label>
                                </div>
                                <p class="text-muted mb-2 px-1">
                                    <i class="las la-calendar"></i>Last updated on <span class="date text-dark">Dec 28, 2020 at 15:13</span>
                                </p>
                                <p class="text-muted px-1 mb-0">
                                    <i class="las la-calendar"></i>Published on <span class="date text-dark">Feb 13, 2019 at 17:13</span>
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between">
                                    <a href="javascript:void(0)" onclick="goBack()"><button type="button" class="btn btn-outline-danger btn-sm">
                                        Discard
                                    </button></a>
                                    <button class="btn d-none btn-outline-secondary btn-sm">
                                        Save as draft
                                    </button>
                                    <button type="submit" class="btn btn-primary btn-sm disableMePlease">
                                        <i class="las la-upload mr-1"></i>  Publish
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    <div class="col-lg-4  ml-auto">
                        
                    </div>
                </div>
                </div>
                <div th:replace="admin/includes/javascript :: javascript"></div>
            </div>
  </body>
</html>