<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::corpseedBodyContent})">
<body>
            <div class="container-fluid" th:fragment="corpseedBodyContent">
                <div class="row">
                	<form th:action="@{|/admin/industry/details/add/${industryUUID}|}" method="post" id="add_industry_details"
                	 th:object="${details}">
                    <div class="col-lg-9">
                        <div class="card grid-margin stretch-card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h4 class="card-title">Create Summary</h4>
                                    <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary" onclick="goBack()">Back</a>
                                </div>
                                 <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
			  	               	     <p class="text-center" th:text="${session.message.content}"></p>  	               	     
			  	               	     <th:block th:text="${#session.removeAttribute('message')}"></th:block>
					             </div>
                                <label class="form-group">
                                    Tab Name
                                    <input type="text" name="tabName" id="tabName" class="form-control" placeholder="Enter tabs name like:- Overview, Faq, Checklist..."
                                     th:classappend="${#fields.hasErrors('tabName') ? 'is-invalid':''}" th:value="${details.tabName}" aria-describedby="emailHelp">
                                     <span class="invalid-feedback" th:each="e : ${#fields.errors('tabName')}" th:text="${e}"></span>
                                </label>
                                 <label class="form-group">
                                    Title
                                    <input type="text" name="title" id="title" class="form-control" placeholder="Enter summary title..."
                                     th:classappend="${#fields.hasErrors('title') ? 'is-invalid':''}" th:value="${details.title}" aria-describedby="emailHelp">
                                     <span class="invalid-feedback" th:each="e : ${#fields.errors('title')}" th:text="${e}"></span>
                                </label>   
                                <div class="position-relative">
                                <button type="button" class="pdfbtn" data-toggle="modal" data-target="#file"><i class="las la-file-alt" title="Upload file"></i><span>|</span></button>
                                <button type="button" class="servicebtn" data-toggle="modal" data-target="#service" title="Select service">Service <span>|</span></button>
								<button type="button" class="productbtn" data-toggle="modal" data-target="#product" title="Select Product">Product</button>
                                </div>                             
                                <label class="form-group">
                                    Description
                                    <textarea name="description" id="description" class="form-control" rows="3" 
                                    placeholder="Enter summary description..." th:classappend="${#fields.hasErrors('description') ? 'is-invalid':''}"
                                     aria-describedby="emailHelp" th:text="${details.description}"></textarea>
                                     <span class="invalid-feedback" th:each="e : ${#fields.errors('description')}" th:text="${e}"></span>
                                </label>
                                <label class="form-group">
                                    Display Order
                                    <input type="text" name="displayOrder" id="displayOrder" class="form-control" placeholder="Enter summary display order like 1,2,3..."
                                     th:classappend="${#fields.hasErrors('displayOrder') ? 'is-invalid':''}" th:value="${details.displayOrder}" aria-describedby="emailHelp">
                                     <span class="invalid-feedback" th:each="e : ${#fields.errors('displayOrder')}" th:text="${e}"></span>
                                </label>
                                <label for="#" class="form-group">
                               		Display Status
	                                <div class="custom-control custom-radio pmd-radio custom-control-inline">
								      	<input type="radio" id="status1" name="displayStatus" class="custom-control-input" value="1" checked>
								      	<label class="custom-control-label pmd-radio-ripple-effect" for="status1">Yes</label>
								    </div>
								    <div class="custom-control custom-radio pmd-radio custom-control-inline">
								      	<input type="radio" id="status0" name="displayStatus" class="custom-control-input" value="2">
								      	<label class="custom-control-label pmd-radio-ripple-effect" for="status0">No</label>
								    </div>
								</label>
								<input type="hidden" name="postDate" th:value="${#dates.format(#dates.createNow(), 'YYYY-MM-dd')}">
								<input type="hidden" name="modifyDate" th:value="${#dates.format(#dates.createNow(), 'YYYY-MM-dd')}">
							</div>
						</div> 
                    </div>
                    <div class="col-lg-3 mx-auto ">
                        <div class="card grid-margin stret ch-card">
                            <div class="card-body">
                                <h4 class="card-title">Post Status</h4>
                                <div class="alert alert-info">
                                    <i class="las la-sign"></i> Status: <span class="text-info">Published</span>
                                </div>
                                <div class="alert bg-light alert-secondary">
                                    Revisions: <span class="text-secondary">4 Revisions</span>
                                </div>
                                <div class="custom-control custom-checkbox mx-1 mb-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4651">
                                    <label class="custom-control-label" for="customCheck4651">Add to featured posts</label>
                                </div>
                                <p class="text-muted mb-2 px-1">
                                    <i class="las la-calendar"></i>Last updated on <span class="date text-dark">Dec 28, 2020 at 15:13</span>
                                </p>
                                <p class="text-muted px-1 mb-0">
                                    <i class="las la-calendar"></i>Published on <span class="date text-dark">Feb 13, 2019 at 17:13</span>
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between">
                                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="goBack()">
                                        Discard
                                    </button>
                                    <button class="btn d-none btn-outline-secondary btn-sm">
                                        Save as draft
                                    </button>
                                    <button class="btn btn-primary btn-sm disableMePlease">
                                        <i class="las la-upload mr-1"></i>  Publish
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>                    
                </div>
                <div class="modal file" id="file" tabindex="-1" role="dialog">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title">Upload File</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
						<div class="modal-body">
						<form action="javascript:void(0)" id="UploadFormData">
					      <div class="row">
					       <div class="col-sm-12">
					      <input type="file" name="file" class="form-control col-sm-8">
					       <div class="col-sm-3 p-0">
					      <button type="submit" name="uploadFormBtn" class="btn btn-primary btn-sm ">Upload</button>
					      </div>
					      </div>
					       </div>
					        <div class="row">
					       <div class="col-sm-12 mt-2">
					        <h5> Get Link</h5>
					       <input type="text" name="getFileLink" id="getFileLink" class="form-control link col-sm-8" readonly="readonly">
					        <div class="col-sm-3 p-0">
					        <button type="button" class="btn copy" onclick="copyLink()">Copy Link</button>
					      </div>
					       </div>
					    </div>
					    </form>
					     </div> 
				       </div>
				  </div>
				</div>
				<div class="modal file" id="service" tabindex="-1" role="dialog">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title">Select Service</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
						<div class="modal-body">
						<form action="javascript:void(0)" id="ServiceFormData">
					      <div class="row">
					       <div class="col-sm-12">
					        <div class="row">
					        <div class="col-sm-8">
					       <select class="form-control col-sm-8 select" name="selectService" id="selectService" multiple="multiple">
					       	<option th:each="service:${services}" th:value="${service.slug}" th:text="${service.serviceName}">Start Company</option>
					       	<option th:each="industry:${industries}" th:value="${industry.slug}" th:text="${industry.industryName}">Start Company</option>
					       </select>
					       </div>
					       <div class="col-sm-3">
					      <button type="submit" name="serviceCode" class="btn btn-primary btn-sm">Generate</button>
					      </div>
					       </div>
					      </div>
					       </div>
					        <div class="row">
					       <div class="col-sm-12 mt-2">
					        <h5> Get Code</h5>
					       <input type="text" name="getServiceLink" autocomplete="name" id="getServiceLink" class="form-control link col-sm-8" readonly="readonly">
					        <div class="col-sm-3 p-0">
					        <button type="button" class="btn copy" onclick="copyCode()">Copy Code</button>
					      </div>
					       </div>
					    </div>
					    </form>
					     </div> 
				       </div>
				  </div>
				</div>
				<div class="modal file" id="product" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Select Product</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form action="javascript:void(0)" id="ProductFormData">
									<div class="row">
										<div class="col-sm-12">
											<div class="row">
												<div class="col-sm-8">
													<select class="form-control col-sm-8 select product-select2" name="selectProduct" id="selectProduct" multiple="multiple">
														<option th:each="p:${products}" th:value="${p.slug}" th:text="${p.name}" >All Product</option>
													</select>
												</div>
												<div class="col-sm-3">
													<button type="submit" name="productCode" class="btn btn-primary btn-sm">Generate</button>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 mt-2">
											<h5> Get Code</h5>
											<input type="text" name="getproductLink" autocomplete="name" id="getProductLink" class="form-control link col-sm-8" readonly="readonly">
											<div class="col-sm-3 p-0">
												<button type="button" class="btn copy" onclick="copyProductCode()">Copy Code</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
                <div th:replace="admin/includes/javascript :: javascript"></div>
			<script type="text/javascript">
			$(document).ready(function(){
				CKEDITOR.replace('description',{
					 filebrowserImageUploadUrl: '/ckeditor/upload',
					 height: 300
				 });
				$('.select').select2({
		    		  placeholder: 'Select service',
		    		  allowClear: true
    				});
				$('.product-select2').select2({
					placeholder: 'Select Product',
					allowClear: true
				});
			})
			
			 
			</script> 
			<script type="text/javascript">
                $(function() {
             	   $("#add_industry_details").validate({
             	      // Specify validation rules
             	      rules: {
             	    	 tabName: "required",
             	         title: "required",
             	         description: "required",
             	         displayOrder: "required"},
             	      // Specify validation error messages
             	      messages: {
             	    	 tabName: "Please enter tab name",
             	         title: "Please enter title",
             	         description: "Please enter description",
             	         displayOrder: "Please enter display order"},
             	         submitHandler: function(form) {
             	    	 $(".disableMePlease").attr("disabled","disabled");
             	        form.submit();
             	      }
             	    });
             	  });
                </script>               
            </div>            
</body>
</html>