<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
 th:replace="admin/base::layout(~{::corpseedBodyContent})">

<body>      
	<div class="container-fluid" th:fragment="corpseedBodyContent">
                <div class="row">
                	<form th:action="@{|/admin/lawupdate/update/${lawuuid}|}" method="post" id="edit_lawupdate"  th:object="${lawUpdate}">
                    <div class="col-lg-9">
                        <div class="card grid-margin stretch-card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h4 class="card-title">Create Law Update</h4>
                                    <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary" onclick="goBack()">Back</a>
                                </div>
                                <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
			  	               	     <p class="text-center" th:text="${session.message.content}"></p>  	               	     
			  	               	     <th:block th:text="${#session.removeAttribute('message')}"></th:block>
					             </div>
					             <label for="#" class="form-group">
                                    Sub Category
                                    <select th:field="*{category}" class="form-control select2-search" name="subCategoryID" id="SubcategoryId">
                                    	<option value="">---- Select Sub-Category ----</option> 
                                    	<option th:each="scat : ${subCategory}" th:value="${scat.id}" th:text="${scat.subCategoryName}">Sub-Category</option>                                    	
                                    </select>
                                </label>
                                <label class="form-group">
                                    Title
                                    <input type="text" name="title" id="title" class="form-control" placeholder="Enter law update title..."
                                     onload="convertToSlug(this.value)" onkeyup="convertToSlug(this.value)" th:value="${lawUpdate.title}"
                                     th:classappend="${#fields.hasErrors('title') ? 'is-invalid':''}" aria-describedby="emailHelp">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('title')}" th:text="${e}"></span>
                                </label>
                                <label class="form-group">
                                    Slug
                                    <input type="text" name="slug" id="slug" class="form-control"
                                     placeholder="Enter law update slug..." th:value="${lawUpdate.slug}"
                                     th:classappend="${#fields.hasErrors('slug') ? 'is-invalid':''}" aria-describedby="emailHelp">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('slug')}" th:text="${e}"></span>
                                </label>
                                <label class="form-group">
                                    Reference Slug
                                    <input type="text" name="refrenceSlug" id="refrenceSlug" class="form-control" 
                                    placeholder="Enter law update slug..." th:value="${lawUpdate.refrenceSlug}"
                                     th:classappend="${#fields.hasErrors('refrenceSlug') ? 'is-invalid':''}" aria-describedby="emailHelp">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('refrenceSlug')}" th:text="${e}"></span>
                                </label>
                                <div class="position-relative">
                                <button type="button" class="pdfbtn" data-toggle="modal" data-target="#file"><i class="las la-file-alt" title="Upload file"></i><span>|</span></button>
                                <button type="button" class="servicebtn" data-toggle="modal" data-target="#service" title="Select service">Service <span>|</span></button>
                                </div>
                                <label class="form-group">
                                    Summary
                                    <textarea name="summary" id="description" class="form-control" rows="3" placeholder="Enter law update summary..." 
                                     th:classappend="${#fields.hasErrors('summary') ? 'is-invalid':''}" aria-describedby="emailHelp"
                                     th:text="${lawUpdate.summary}"></textarea>
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('summary')}" th:text="${e}"></span>
                                </label>
                                <label class="form-group">
                                    Department
                                    <input type="text" name="department" id="department" class="form-control"
                                     placeholder="Enter law update department..." th:value="${lawUpdate.department}"
                                     th:classappend="${#fields.hasErrors('department') ? 'is-invalid':''}" aria-describedby="emailHelp">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('department')}" th:text="${e}"></span>
                                </label>
                                <label class="form-group">
                                    Authority
                                    <input type="text" name="authority" id="authority" class="form-control"
                                     placeholder="Enter authority..." th:value="${lawUpdate.authority}"
                                     th:classappend="${#fields.hasErrors('authority') ? 'is-invalid':''}" aria-describedby="emailHelp">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('authority')}" th:text="${e}"></span>
                                </label>
                                <label for="#" class="form-group">
                                    Publish Date
                                    <input type="text" id="publishDate" name="publishDate" class="form-control"
                                     placeholder="Enter law update publish date..." th:value="${lawUpdate.publishDate}"
                                     th:classappend="${#fields.hasErrors('publishDate') ? 'is-invalid':''}" aria-describedby="emailHelp">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('publishDate')}" th:text="${e}"></span>
                                </label>
                                <label for="#" class="form-group">
                                    Applicable Date
                                    <input type="text" id="applicableDate" name="applicableDate" class="form-control" 
                                    placeholder="Enter law update applicable date..." th:value="${lawUpdate.applicableDate}"
                                     th:classappend="${#fields.hasErrors('applicableDate') ? 'is-invalid':''}" aria-describedby="emailHelp">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('applicableDate')}" th:text="${e}"></span>
                                </label>
                                
                                <label for="#" class="form-group">
                               		Display Status
	                                <div class="custom-control custom-radio pmd-radio custom-control-inline">
								      	<input type="radio" id="status1" name="displayStatus" class="custom-control-input" value="1" th:checked="${lawUpdate.displayStatus=='1'}">
								      	<label class="custom-control-label pmd-radio-ripple-effect" for="status1">Yes</label>
								    </div>
								    <div class="custom-control custom-radio pmd-radio custom-control-inline">
								      	<input type="radio" id="status0" name="displayStatus" class="custom-control-input" value="2" th:checked="${lawUpdate.displayStatus=='2'}">
								      	<label class="custom-control-label pmd-radio-ripple-effect" for="status0">No</label>
								    </div>
								    <span class="invalid-feedback" th:each="e : ${#fields.errors('displayStatus')}" th:text="${e}"></span>
								</label>
								<input type="hidden" name="postDate" th:value="${lawUpdate.postDate}">
								<input type="hidden" name="modifyDate" th:value="${#dates.format(#dates.createNow(), 'YYYY-MM-dd')}">                            </div>
                        </div>
                        <div class="card grid-margin stretch-card mb-3">
                            <div class="card-body">
                                <h4 class="card-title">SEO</h4>
                                <label for="#" class="form-group">
                                    Meta Title
                                    <input type="text" th:field="*{metaTitle}" class="form-control" placeholder="Enter meta title..."
                                     th:classappend="${#fields.hasErrors('metaTitle') ? 'is-invalid':''}" th:value="${metaTitle}" aria-describedby="emailHelp">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('metaTitle')}" th:text="${e}"></span>
                                </label>
                               
                                <label for="#" class="form-group">
                                    Meta Keyword
                                    <input type="text" th:field="*{metaKeyword}" class="form-control" placeholder="Enter meta keyword...."
                                     th:classappend="${#fields.hasErrors('metaKeyword') ? 'is-invalid':''}" th:value="${metaKeyword}" aria-describedby="emailHelp">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('metaKeyword')}" th:text="${e}"></span>
                                </label>
                                <label for="#" class="form-group">
                                    Meta Description
                                   <textarea rows="4" th:field="*{metaDescription}" class="form-control" placeholder="Enter meta description..."
                                   th:classappend="${#fields.hasErrors('metaDescription') ? 'is-invalid':''}" aria-describedby="emailHelp" th:value="${metaDescription}"></textarea>
                                   <span class="invalid-feedback" th:each="e : ${#fields.errors('metaDescription')}" th:text="${e}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mx-auto ">
                        <div class="card grid-margin stret ch-card">
                            <div class="card-body">
                                <h4 class="card-title">Law Update Status</h4>
                                <div class="alert alert-info">
                                    <i class="las la-sign"></i> Status: <span class="text-info">Published</span>
                                </div>
                                <div class="alert bg-light alert-secondary">
                                    Revisions: <span class="text-secondary">4 Revisions</span>
                                </div>
                                <div class="custom-control custom-checkbox mx-1 mb-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4651">
                                    <label class="custom-control-label" for="customCheck4651">Add to featured posts</label>
                                </div>
                                <p class="text-muted mb-2 px-1">
                                    <i class="las la-calendar"></i>Last updated on <span class="date text-dark">Dec 28, 2020 at 15:13</span>
                                </p>
                                <p class="text-muted px-1 mb-0">
                                    <i class="las la-calendar"></i>Published on <span class="date text-dark">Feb 13, 2019 at 17:13</span>
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between">
                                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="goBack()">
                                        Discard
                                    </button>
                                    <button class="btn d-none btn-outline-secondary btn-sm">
                                        Save as draft
                                    </button>
                                    <button type="submit" class="btn btn-primary btn-sm disableMePlease">
                                        <i class="las la-upload mr-1"></i>  Publish
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="modal file" id="file" tabindex="-1" role="dialog">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title">Upload File</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
						<div class="modal-body">
						<form action="javascript:void(0)" id="UploadFormData">
					      <div class="row">
					       <div class="col-sm-12">
					      <input type="file" name="file" class="form-control col-sm-8">
					       <div class="col-sm-3 p-0">
					      <button type="submit" name="uploadFormBtn" class="btn btn-primary btn-sm ">Upload</button>
					      </div>
					      </div>
					       </div>
					        <div class="row">
					       <div class="col-sm-12 mt-2">
					        <h5> Get Link</h5>
					       <input type="text" name="getFileLink" id="getFileLink" class="form-control link col-sm-8" readonly="readonly">
					        <div class="col-sm-3 p-0">
					        <button type="button" class="btn copy" onclick="copyLink()">Copy Link</button>
					      </div>
					       </div>
					    </div>
					    </form>
					     </div> 
				       </div>
				  </div>
				</div>
				<div class="modal file" id="service" tabindex="-1" role="dialog">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title">Select Service</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
						<div class="modal-body">
						<form action="javascript:void(0)" id="ServiceFormData">
					      <div class="row">
					       <div class="col-sm-12">
					        <div class="row">
					        <div class="col-sm-8">
					       <select class="form-control col-sm-8 select" name="selectService" id="selectService" multiple="multiple">
					       	<option th:each="service:${services}" th:value="${service.slug}" th:text="${service.serviceName}">Start Company</option>
					       	<option th:each="industry:${industries}" th:value="${industry.slug}" th:text="${industry.industryName}">Start Company</option>
					       </select>
					       </div>
					       <div class="col-sm-3">
					      <button type="submit" name="serviceCode" class="btn btn-primary btn-sm">Generate</button>
					      </div>
					       </div>
					      </div>
					       </div>
					        <div class="row">
					       <div class="col-sm-12 mt-2">
					        <h5> Get Code</h5>
					       <input type="text" name="getServiceLink" autocomplete="name" id="getServiceLink" class="form-control link col-sm-8" readonly="readonly">
					        <div class="col-sm-3 p-0">
					        <button type="button" class="btn copy" onclick="copyCode()">Copy Code</button>
					      </div>
					       </div>
					    </div>
					    </form>
					     </div> 
				       </div>
				  </div>
				</div>
                <div th:replace="admin/includes/javascript :: javascript"></div>
                <script type="text/javascript">              
				$(document).ready(function(){
					CKEDITOR.replace('description',{
						 filebrowserImageUploadUrl: '/ckeditor/upload',
						 height: 300
					 });	
					$('.select').select2({
	  		    		  placeholder: 'Select service',
	  		    		  allowClear: true
	      				});
				}); 
				$(function() {
		    	   $("#edit_lawupdate").validate({
		    	      // Specify validation rules
		    	      rules: {        
		    	    	  category: "required",
		    	    	  title: "required",
		    	    	  slug: "required",
		    	    	  refrenceSlug: "required",
		    	    	  summary: "required",
		    	    	  department: "required",
		    	    	  authority: "required",
		    	    	  publishDate: "required",
		    	    	  applicableDate: "required",
		    	  	  	  metaTitle: "required",
		    	  	  	  metaKeyword: "required",
		    	  		  metaDescription: "required"},
		    	      // Specify validation error messages
		    	      messages: {
		    	    	  category: "Please select category !!",
		    	    	  title: "Please enter title !!",
		    	    	  slug: "Please enter slug !!",
		    	    	  refrenceSlug: "Please enter refrence slug !!",
		    	    	  summary: "Please enter summary !!",
		    	    	  department: "Please enter department !!",
		    	    	  authority: "Please enter authority !!",
		    	    	  publishDate: "Please enter publish date !!",
		    	    	  applicableDate: "Please enter applicable date !!",
		    	  	  	  metaTitle:"Please enter meta title !!",
		    	  	  	  metaKeyword:"Please enter meta keyword !!",
		    	  		  metaDescription:"Please enter meta Description !!"},
		    	     submitHandler: function(form) {
		    	    	 $(".disableMePlease").attr("disabled","disabled");
		    	        form.submit();
		    	      }
		    	    });
		    	  }); 
                </script>
            </div>
            
</body>
</html>