<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
 th:replace="admin/base::layout(~{::corpseedBodyContent})">

<body>
              <div class="container-fluid" th:fragment="corpseedBodyContent">
              	<div class="row">
                	<div class="col-xl-12">
                    	<div class="card">
                        	<div class="card-body">
                            	<div class="d-flex align-items center justify-content-between mb-3">
                                	<h4 class="mb-0 card-title">All Tags</h4>
                                 	<a th:href="@{/admin/life/tag/add}" class="btn btn-sm btn-info">Add Tag</a>
                            	</div>
                            	<h5 class="card-subtitle"></h5>
                            	<div class="table-responsive" th:switch="${tags}">
                            		<h4 class="text-center" th:case="null">No record found!</h4>
									<table id="dataTable" class="table table-striped table-hover mb-0" th:case="*">
                                		<thead>
                                        	<th>#</th>
                                        	<th>Date</th>
                                        	<th>Title</th>
                                        	<th>Slug</th>
                                        	<th>Action</th>
                                    	</thead>
                                    	<tbody>
                                        	<tr th:each="t, sn : ${tags}">
                                        		<td th:text="${sn.index+1}"></td>
                                        		<td th:text="${t.createdAt}"></td>
                                        		<td th:text="${t.title}"></td>
												<td th:text="${t.slug}"></td>
												<td><a th:href="@{|/admin/life/tag/edit/${t.id}|}"><i class="las la-edit" data-toggle="tooltip" data-placement="left" title="Edit"></i></a>
													<span th:if="${session.role=='ROLE_ADMIN'}">
														<a class="pointer" th:attr="onclick='deleteTag(\''+${t.id}+'\')'"> | <i class="las la-trash"  data-toggle="tooltip" data-placement="left" title="Delete"></i></a></span></td>
											</tr>
                                    </tbody>
                                </table>
                            </div>                            
                        	</div>
                    	</div>
                	</div>
              	</div>
              	<!-- Modal -->
				<div class="modal fade-in" id="WarningDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">
				        Are you sure want to delete this tag ?</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
						<div class="modal-body">
							<p>After delete this tag all related life's user will be deleted !!</p>
						</div>
				      <input type="hidden" id="tagId">
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
				        <button type="button" class="btn btn-primary" onclick="return deleteTag('NA')">Yes</button>
				      </div>
				    </div>
				  </div>
				</div> 
              	<div th:replace="admin/includes/javascript :: javascript"></div>
              	<script type="text/javascript">
                function deleteTag(id){
               	 if(id!="NA"){
               		 $("#tagId").val(id);
               		 $("#WarningDelete").modal("show");
               	 }else{               		 
               		 $("#WarningDelete").modal("hide");
               		 let tagId=$("#tagId").val();
               		 location.href="/admin/life/tag/delete/"+tagId;
               	 }
                }
                </script>
            </div>
            
</body>
</html>