<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
 th:replace="admin/base::layout(~{::corpseedBodyContent})">

<body>    
            <div class="container-fluid" th:fragment="corpseedBodyContent">
                <div class="row">
                	<form th:action="@{/admin/meeting/book}" method="post" id="add_meeting" th:object="${meeting}">
                    <div class="col-lg-9">
                        <div class="card grid-margin stretch-card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h4 class="card-title">Book Meeting</h4>
                                    <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary" onclick="goBack()">Back</a>
                                </div>
								 <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
			  	               	     <p class="text-center" th:text="${session.message.content}"></p>  	               	     
			  	               	     <th:block th:text="${#session.removeAttribute('message')}"></th:block>
					             </div>                                 
                                <label class="form-group">
                                    Name
                                    <input type="text" name="name" id="Name" class="form-control" 
                                    placeholder="Enter name..." th:value="${meeting.name}"
                                    th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}" aria-describedby="emailHelp">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}"></span>
                                </label>
                                <label class="form-group">
                                    Email
                                    <input type="email" name="email" id="Email" class="form-control" 
                                    placeholder="Enter email..." th:value="${meeting.email}"
                                    th:classappend="${#fields.hasErrors('email') ? 'is-invalid':''}" aria-describedby="emailHelp">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}"></span>
                                </label>
                                <label class="form-group"> Mobile No.
                                    <input type="text" name="mobile" id="mobile" th:value="${meeting.mobile}"
                                     th:classappend="${#fields.hasErrors('mobile') ? 'is-invalid':''}" aria-describedby="emailHelp"
                                    oninput="this.value = this.value.replace(/[^0-9.+ ]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" placeholder="Enter office email id...">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('mobile')}" th:text="${e}"></span>
                                </label>
                                <label class="form-group">
                                    City
                                    <input type="text" name="city" id="City" class="form-control" 
                                    placeholder="Enter city..." th:value="${meeting.city}"
                                    th:classappend="${#fields.hasErrors('city') ? 'is-invalid':''}" aria-describedby="emailHelp">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('city')}" th:text="${e}"></span>
                                </label> 
                                <label class="form-group">
                                    Date-Time
                                    <input type="datetime-local" name="dateTime" id="DateTime" class="form-control" 
                                    placeholder="Choose date time" th:value="${meeting.dateTime}"
                                    th:classappend="${#fields.hasErrors('city') ? 'is-invalid':''}" aria-describedby="emailHelp">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('city')}" th:text="${e}"></span>
                                </label>
                                <label class="form-group"> Message
                                    <textarea name="message" th:rows="4" id="message" class="form-control" placeholder="Enter message..."
                                     th:classappend="${#fields.hasErrors('message') ? 'is-invalid':''}" aria-describedby="emailHelp"
                                     th:text="${meeting.message}"></textarea>
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('message')}" th:text="${e}"></span>
                                </label>
                                <label for="#" class="form-group">
                               		Display Status
	                                <div class="custom-control custom-radio pmd-radio custom-control-inline">
								      	<input type="radio" id="status1" name="displayStatus" class="custom-control-input" value="1" checked>
								      	<label class="custom-control-label pmd-radio-ripple-effect" for="status1">Yes</label>
								    </div>
								    <div class="custom-control custom-radio pmd-radio custom-control-inline">
								      	<input type="radio" id="status0" name="displayStatus" class="custom-control-input" value="2">
								      	<label class="custom-control-label pmd-radio-ripple-effect" for="status0">No</label>
								    </div>
								    <span class="invalid-feedback" th:each="e : ${#fields.errors('displayStatus')}" th:text="${e}"></span>
								</label>
								<input type="hidden" name="postDate" th:value="${#dates.format(#dates.createNow(), 'YYYY-MM-dd')}">
								<input type="hidden" name="modifyDate" th:value="${#dates.format(#dates.createNow(), 'YYYY-MM-dd')}">
							</div>
						</div> 
                    </div>
                    <div class="col-lg-3 mx-auto ">
                        <div class="card grid-margin stret ch-card">
                            <div class="card-body">
                                <h4 class="card-title">Country Status</h4>
                                <div class="alert alert-info">
                                    <i class="las la-sign"></i> Status: <span class="text-info">Published</span>
                                </div>
                                <div class="alert bg-light alert-secondary">
                                    Revisions: <span class="text-secondary">4 Revisions</span>
                                </div>
                                <div class="custom-control custom-checkbox mx-1 mb-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4651">
                                    <label class="custom-control-label" for="customCheck4651">Add to featured posts</label>
                                </div>
                                <p class="text-muted mb-2 px-1">
                                    <i class="las la-calendar"></i>Last updated on <span class="date text-dark">Dec 28, 2020 at 15:13</span>
                                </p>
                                <p class="text-muted px-1 mb-0">
                                    <i class="las la-calendar"></i>Published on <span class="date text-dark">Feb 13, 2019 at 17:13</span>
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-outline-danger btn-sm">Discard</button>
                                    <button class="btn d-none btn-outline-secondary btn-sm"> Save as draft</button>
                                    <button class="btn btn-primary btn-sm disableMePlease"><i class="las la-upload mr-1"></i>  Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div th:replace="admin/includes/javascript :: javascript"></div>
                <script type="text/javascript">
                $(function() {     
             	   $("#add_meeting").validate({
             	      // Specify validation rules
             	      rules: {
             	    	 name: "required",
             	    	email: "required",
             	    	mobile: "required",
             	    	city: "required",
             	    	dateTime: "required",
             	    	message: "required"},
             	      // Specify validation error messages
             	      messages: {
             	    	 name: "Please enter name",
             	    	email: "Please enter email",
             	    	mobile: "Please enter mobile no.",
             	    	city: "Please enter city",
             	    	dateTime: "Please enter date time",
             	    	message: "Please enter meeting purpose"},
             	     submitHandler: function(form) {
             	    	 $(".disableMePlease").attr("disabled","disabled");
             	        form.submit();
             	      }
             	    });
             	  });
                </script>		
            </div>            
</body>
</html>