<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
 th:replace="admin/base::layout(~{::corpseedBodyContent})">

<body>    
            <div class="container-fluid" th:fragment="corpseedBodyContent">
              	<div class="row">
                	<div class="col-xl-12">
                    	<div class="card">
                        	<div class="card-body">
                            	<div class="d-flex align-items center justify-content-between mb-3">
                                	<h4 class="mb-0 card-title">Our Culture</h4>
                                 	<a th:href="@{/admin/life-at-corpseed/our-culture/add}" class="btn btn-sm btn-info">Add</a>
                            	</div>
                            	<h5 class="card-subtitle"></h5>
                            	<div class="table-responsive">
									<table id="dataTable" class="table table-striped table-hover mb-0">
                                		<thead>
                                        	<th>#</th>
                                        	<th>Date</th>
                                        	<th>Title</th>  
                                        	<th>Status</th>                                       	
                                        	<th>Action</th>
                                    	</thead>
                                    	<tbody>
                                        	<tr th:each="o, sn : ${ourCulture}">
                                        		<td th:text="${sn.index+1}"></td>
                                        		<td th:text="${o.postDate}"></td>
                                        		<td th:text="${o.title}"></td>	
                                        		<td th:text="${o.displayStatus==1}?Enabled:Disabled"></td>											
												<td>
												<a th:href="@{|/admin/life-at-corpseed/our-culture/edit/${o.uuid}|}">
												 <i class="las la-edit" data-toggle="tooltip" data-placement="left" title="Edit"></i>
												</a>
												<a th:href="@{|/admin/life-at-corpseed/our-culture/gallery/${o.uuid}|}">
												 <i class="las la-image" data-toggle="tooltip" data-placement="left" title="Images"></i>
												</a>
												<span th:if="${session.role=='ROLE_ADMIN'}">
												<a class="pointer" th:attr="onclick='deleteCulture(\''+${o.uuid}+'\')'"> | <i class="las la-trash"  data-toggle="tooltip" data-placement="left" title="Delete"></i>
												</a></span></td>
											</tr>
                                    </tbody>
                                </table>
                         	</div>                            
                        	</div>
                    	</div>
                	</div>
              	</div>
              	<!-- Modal -->
				<div class="modal fade-in" id="WarningDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">
				        Are you sure want to delete this position ?</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>				     
				      <input type="hidden" id="CultureUuid">
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
				        <button type="button" class="btn btn-primary" onclick="return deleteCulture('NA')">Yes</button>
				      </div>
				    </div>
				  </div>
				</div> 
              	<div th:replace="admin/includes/javascript :: javascript"></div>
              	<script type="text/javascript">
                function deleteCulture(uuid){
               	 if(uuid!="NA"){
               		 $("#CultureUuid").val(uuid);
               		 $("#WarningDelete").modal("show");
               	 }else{               		 
               		 $("#WarningDelete").modal("hide");
               		 var CultureUuid=$("#CultureUuid").val();
               		 location.href="/admin/life-at-corpseed/our-culture/delete/"+CultureUuid;
               	 }
                }
                </script>
            </div>           
</body>
</html>