<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
 th:replace="admin/base::layout(~{::corpseedBodyContent})">

<body>    
            <div class="container-fluid" th:fragment="corpseedBodyContent">
                <div class="row">
                	<form th:action="@{/admin/master/review/update}" method="post" id="edit_review" enctype="multipart/form-data"
                	 th:object="${review}">
                    <div class="col-lg-9">
                        <div class="card grid-margin stretch-card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h4 class="card-title">Edit Review</h4>
                                    <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary" onclick="goBack()">Back</a>
                                </div>
								 <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
			  	               	     <p class="text-center" th:text="${session.message.content}"></p>  	               	     
			  	               	     <th:block th:text="${#session.removeAttribute('message')}"></th:block>
					             </div>                                 
                                <label class="form-group">
                                    Name
                                    <input type="text" th:field="*{name}" class="form-control" placeholder="Enter name..."
                                    th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}" aria-describedby="emailHelp">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}"></span>
                                </label>
                                <label class="form-group">
                                    Position
                                    <input type="text" th:field="*{position}" class="form-control" placeholder="Enter position..."
                                    th:classappend="${#fields.hasErrors('position') ? 'is-invalid':''}" aria-describedby="emailHelp">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('position')}" th:text="${e}"></span>
                                </label>
                                <label class="form-group">
                                    Profile picture
                                    <div id="ChoosedOldFile" class="uploaded"><a th:href="${@environment.getProperty('azure_path')+review.image}" target="_blank"><b th:text="${review.image}"></b>
                                    <i class="las la-eye mr-4 mt-1" data-toggle="tooltip" data-placement="top" title="View"></i></a>
                                    <button type="button" onclick="uploadNewDocument('ChooseNewFile','ChoosedOldFile')"><i class="las la-times text-danger"  data-toggle="tooltip" data-placement="top" title="Remove"></i></button>
                                    </div>                                    
                                    <input type="file" name="file" id="ChooseNewFile" class="form-control d-none">                                   
                                </label>
                                <label class="form-group"> Summary
                                    <textarea th:field="*{summary}" th:rows="4" class="form-control" placeholder="Enter summary..."
                                     th:classappend="${#fields.hasErrors('summary') ? 'is-invalid':''}" aria-describedby="emailHelp"></textarea>
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('summary')}" th:text="${e}"></span>
                                </label>
                                <label class="form-group">
                                    Rating value
                                    <input type="text" th:field="*{ratingValue}" class="form-control" placeholder="Please rate us out of 5..."
                                    th:maxlength="3" th:classappend="${#fields.hasErrors('ratingValue') ? 'is-invalid':''}" aria-describedby="emailHelp"
                                    onkeypress="return isNumberKey(event)">
                                    <span class="invalid-feedback" th:each="e : ${#fields.errors('ratingValue')}" th:text="${e}"></span>
                                </label>
                                <label for="#" class="form-group"> Show On Home
	                                <div class="custom-control custom-radio pmd-radio custom-control-inline">
								      	<input type="radio" id="showHome1" name="showHomeStatus" class="custom-control-input" value="1" th:checked="${review.showHomeStatus=='1'}">
								      	<label class="custom-control-label pmd-radio-ripple-effect" for="showHome1">Yes</label>
								    </div>
								    <div class="custom-control custom-radio pmd-radio custom-control-inline">
								      	<input type="radio" id="showHome0" name="showHomeStatus" class="custom-control-input" value="2"  th:checked="${review.showHomeStatus=='2'}">
								      	<label class="custom-control-label pmd-radio-ripple-effect" for="showHome0">No</label>
								    </div>
								    <span class="invalid-feedback" th:each="e : ${#fields.errors('showHomeStatus')}" th:text="${e}"></span>
								</label>
                                <label for="#" class="form-group">
                               		Display Status
	                                <div class="custom-control custom-radio pmd-radio custom-control-inline">
								      	<input type="radio" id="status1" name="displayStatus" class="custom-control-input" value="1" th:checked="${review.displayStatus=='1'}">
								      	<label class="custom-control-label pmd-radio-ripple-effect" for="status1">Yes</label>
								    </div>
								    <div class="custom-control custom-radio pmd-radio custom-control-inline">
								      	<input type="radio" id="status0" name="displayStatus" class="custom-control-input" value="2" th:checked="${review.displayStatus=='2'}">
								      	<label class="custom-control-label pmd-radio-ripple-effect" for="status0">No</label>
								    </div>
								    <span class="invalid-feedback" th:each="e : ${#fields.errors('displayStatus')}" th:text="${e}"></span>
								</label>
								<input type="hidden" th:field="*{uuid}">
								<input type="hidden" th:field="*{id}">
								<input type="hidden" th:field="*{image}">
								<input type="hidden" th:field="*{postDate}">
								<input type="hidden" name="modifyDate" th:value="${#dates.format(#dates.createNow(), 'YYYY-MM-dd')}">
							</div>
						</div> 
                    </div>
                    <div class="col-lg-3 mx-auto ">
                        <div class="card grid-margin stret ch-card">
                            <div class="card-body">
                                <h4 class="card-title">Contact Status</h4>
                                <div class="alert alert-info">
                                    <i class="las la-sign"></i> Status: <span class="text-info">Published</span>
                                </div>
                                <div class="alert bg-light alert-secondary">
                                    Revisions: <span class="text-secondary">4 Revisions</span>
                                </div>
                                <div class="custom-control custom-checkbox mx-1 mb-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4651">
                                    <label class="custom-control-label" for="customCheck4651">Add to featured posts</label>
                                </div>
                                <p class="text-muted mb-2 px-1">
                                    <i class="las la-calendar"></i>Last updated on <span class="date text-dark">Dec 28, 2020 at 15:13</span>
                                </p>
                                <p class="text-muted px-1 mb-0">
                                    <i class="las la-calendar"></i>Published on <span class="date text-dark">Feb 13, 2019 at 17:13</span>
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between">
                                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="goBack()">Discard</button>
                                    <button class="btn d-none btn-outline-secondary btn-sm"> Save as draft</button>
                                    <button type="submit" class="btn btn-primary btn-sm disableMePlease"><i class="las la-upload mr-1"></i>  Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div th:replace="admin/includes/javascript :: javascript"></div>
                <script type="text/javascript">
                $(function() {     
               	   $("#edit_review").validate({
               	      // Specify validation rules
               	      rules: { 
               	    	 name: "required",
               	    	 position: "required",
               	    	 summary: "required",
               	    	 ratingValue: "required"},
               	      // Specify validation error messages
               	      messages: {
               	    	 name: "Please enter name !!",
               	    	 position: "Please enter position !!",
               	    	 summary: "Please enter summary !!",
               	    	 ratingValue: "Please enter rating value out of 5 !!"},
               	     submitHandler: function(form) {
               	    	 $(".disableMePlease").attr("disabled","disabled");
               	        form.submit();
               	      }
               	    });
               	  });
                </script>
            </div>            
</body>
</html>