<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
 th:replace="admin/base::layout(~{::corpseedBodyContent})">

<body>
<div class="container-fluid" th:fragment="corpseedBodyContent">
                <!-- info row-->
                <div class="row">
                    <div class="col-lg-12 grid-margin card-stretch">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-3">
<!--                                     <h4>Filter <a href="javascript:void(0)" onclick="filter()"><i class="las la-filter"></i></a></h4> -->
									<h3 class="mb-0 card-title">Manage Services</h3>
									<label>Import Enquiry
									<input type=file id="fileImport" onchange="upload()">
									</label>
                                    <a th:href="@{/admin/services/add}" style="width: auto" class="form-control">Add New</a>
                                </div>
                                <div class="filter-select"><select class="form-control" onchange="filterByCategory(this.value)">
                                <option th:value="@{/admin/services/filter/all/}">All Category</option>
                                <option th:each="cat:${category}" th:value="@{|/admin/services/filter/${cat.uuid}/|}" th:selected="${cat.uuid==filterUuid}" th:text="${cat.subCategoryName}">Start Company</option>
                               	
                                </select></div>
                                <div class="table-responsive">
									<table id="dataTable" class="table table-striped table-hover mb-0">
                                		<thead>
                                        	<th>#</th>
                                        	<th>Title</th>
                                        	<th>Menu Name</th>
                                        	<th>Status</th>
                                        	<th>Menu</th>
                                        	<th>Posted on</th>
                                        	<th align="center">Action</th>
                                    	</thead>
                                    	<tbody>
                                        	<tr th:each="service, sn : ${services}">
                                        		<td th:text="${sn.index+1}"></td>
                                        		<td th:text="${service.title}" data-toggle="tooltip" th:title="${service.title}"></td>
                                        		<td th:text="${service.serviceName}" data-toggle="tooltip" th:title="${service.serviceName}"></td>
												<td th:text="${service.displayStatus=='1'} ? 'Enable' : 'Disbale'" th:classappend="${service.displayStatus=='1'} ? 'text-info' : 'text-danger'"></td>
												<td th:text="${service.showMenuStatus=='1'} ? 'Active' : 'Inactive'" th:classappend="${service.showMenuStatus=='1'} ? 'text-success' : 'text-danger'">Active</td>
												<td th:text="${service.postDate}"></td>
												<td>
													<div class="action_btn">
														<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
														<span class="sr-only">Toggle Dropdown</span>
														</button>
														<ul class="dropdown-menu" role="menu">
															<li><a th:href="@{|/admin/services/brands/${service.uuid}|}">Brands</a></li>
															<li><a th:href="@{|/admin/services/testimonial/${service.uuid}|}">Testimonial</a></li>
															<li><a th:href="@{|/admin/services/faq/${service.uuid}|}">FAQ</a></li>
															<li><a th:href="@{|/admin/services/details/${service.uuid}|}">Details</a></li>
															<li><a th:href="@{|/admin/services/packages/${service.uuid}|}">Packages</a></li>
															<li><a th:href="@{|/admin/services/subservice/${service.uuid}|}">Sub-Service</a></li>
															<li><a th:href="@{|/admin/services/contact/${service.uuid}|}">Contacts</a></li>
															<li th:if="${service.legalGuide=='NA'}"><a href="javascript:void(0)" data-toggle="modal" data-target="#WarningDocument">Document Download</a></li>
															<li th:unless="${service.legalGuide=='NA'}"><a th:href="${@environment.getProperty('azure_path')+service.legalGuide}" download>Document Download</a></li>
															<li class="divider"></li>
															<li><a th:href="@{|/admin/services/edit/${service.uuid}|}">Edit</a></li>
															<li th:if="${session.role=='ROLE_ADMIN'}"><a href="javascript:void(0)" th:attr="onclick='deleteService(\''+${service.uuid}+'\')'">Delete</a></li>
														</ul>
													</div>
												</td>
											</tr>
                                    	</tbody>
                                	</table>
                            	</div>
                            </div>
                        </div>
                    </div>  
                </div>
                <!-- Modal -->
                <div class="modal fade-in" id="WarningDocument" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">
				        Document not found !!</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>				        
				      </div>
				    </div>
				  </div>
				</div>
                
				<div class="modal fade-in" id="WarningDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel1">
				        Are you sure want to delete this Service ?</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        Password : <input type="password" id="verificationPassword" class="form-control" placeholder="Enter your login password.." aria-describedby="emailHelp">
				      </div>
				      <input type="hidden" id="ServiceUuid">
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
				        <button type="button" class="btn btn-primary" onclick="return deleteService('NA')">Yes</button>
				      </div>
				    </div>
				  </div>
				</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.min.js"></script>
	<div th:replace="admin/includes/javascript :: javascript"></div>
	<script type="text/javascript">
		function upload() {
			var files = document.getElementById('fileImport').files;
			if(files.length==0){
				alert("Please choose any file...");
				return;
			}
			var filename = files[0].name;
			var extension = filename.substring(filename.lastIndexOf(".")).toUpperCase();
			if (extension == '.XLS' || extension == '.XLSX') {
				excelFileToJSON(files[0]);
			}else{
				alert("Please select a valid excel file.");
			}
		}

		//Method to read excel file and convert it into JSON
		function excelFileToJSON(file){
			try {
				var reader = new FileReader();
				reader.readAsBinaryString(file);
				reader.onload = function(e) {

					var data = e.target.result;
					var workbook = XLSX.read(data, {
						type : 'binary'
					});
					var result = {};
					workbook.SheetNames.forEach(function(sheetName) {
						var roa = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
						if (roa.length > 0) {
							result[sheetName] = roa;
						}
					});
					const enquiry = Object.values(result)[0];

					$.ajax({
						type : "POST",
						url : "/admin/services/enquiry",
						dataType: "html",
						data : {
							enquiry : JSON.stringify(enquiry)
						},
						success : function(response){
							if(response=="pass"){
								$("#fileImport").val('');
								alert("Data Imported");
							}else{
								alert("Data Not Imported, try-Again later !!");
							}
						}
					});
				}
			}catch(e){
				console.error(e);
			}
		}


		function handleFileSelect(evt) {

			var files = evt.target.files; // FileList object
			var xl2json = new ExcelToJSON();
			xl2json.parseExcel(files[0]);
		}
		document.getElementById('upload').addEventListener('change', handleFileSelect, false);

                $(document).ready(function(){                	
                	$('#FilterCategory').select2({
    		    		  placeholder: 'Select Category',
    		    		  allowClear: true
        				});
                });
                
                
			     function deleteService(uuid){
			    	 if(uuid!="NA"){
			    		 $("#ServiceUuid").val(uuid);
			    		 $("#WarningDelete").modal("show");
			    	 }else{
			    		 var password=$("#verificationPassword").val();
			    		 if(password==""){
			    			 $("#verificationPassword").addClass('is-invalid');
			    			 return false;
			    		 }
			    		 $("#WarningDelete").modal("hide");
			    		 var serviceuuid=$("#ServiceUuid").val();
			    		 
			    		 $.ajax({
			     			type : "GET",
			     			url : "/admin/services/delete/"+serviceuuid,
			     			dataType : "HTML",
			     			data : {
			     				password : password
			     			},
			     			success : function(response){
			     				if(response=="pass"){
			     					location.reload(true);
			     				}else{
			     					alert("Password didn't match ")
			     				}
			     				
			     			}
			     		});
			    	 }
			     }
			     </script> 
            </div>
</body>
</html>