<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="admin/base::layout(~{::corpseedBodyContent})">

<body>

<div class="container-fluid" th:fragment="corpseedBodyContent">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items center justify-content-between mb-3">
            <h4 class="mb-0 card-title">All Press Release</h4>
            <a th:href="@{/press/add}" class="btn btn-sm btn-info">Add Press </a>
          </div>
          <h5 class="card-subtitle"></h5>
          <div class="table-responsive">
            <table id="dataTable" class="table table-striped table-hover mb-0">
              <thead>
              <th>#</th>
              <th>Title</th>
              <th>Author</th>
              <th>Status</th>
              <th>Posted on</th>
              <th>Action</th>
              </thead>
              <tbody>
              <tr th:each="n, sn : ${press}">
                <td th:text="${sn.index+1}"></td>
                <td th:text="${n.title}"></td>
                <td th:with="u=${n.user}" th:text="${u.firstName+' '+u.lastName}"></td>
                <td th:text="${n.displayStatus=='1'} ? 'Enable' : 'Disbale'"></td>
                <td th:text="${n.postDate}"></td>
                <td>
                  <a th:href="@{|/press/edit/${n.id}|}"><i class="las la-edit"  data-toggle="tooltip" data-placement="left" title="Edit"></i></a>
                  <span th:if="${session.role=='ROLE_ADMIN'}"><a class="pointer" th:attr="onclick='deletePress(\''+${n.id}+'\')'"> | <i class="las la-trash"  data-toggle="tooltip" data-placement="left" title="Delete"></i></a>
												</span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade-in" id="WarningDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Are you sure want to delete this news ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <input type="hidden" id="pressId">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" onclick="return deletePress('NA')">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="admin/includes/javascript :: javascript"></div>
  <script type="text/javascript">
    function deletePress(id){
      if(id!="NA"){
        $("#pressId").val(id);
        $("#WarningDelete").modal("show");
      }else{
        $("#WarningDelete").modal("hide");
        let pressid=$("#pressId").val();
        location.href="/press/delete/"+pressid;
      }
    }
  </script>
</div>
</body>
</html>