<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="users/base::layout(~{::corpseedBodyContent})">

<body>
    <main th:fragment="corpseedBodyContent">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-4 text-center text-dark my-5">About Us</h1>
                </div>
            </div>
            <div class="row about">
                <div class="col-xl-10 mx-auto col-md-10 ">
                    <blockquote class="blockquote mb-5">
                        <p class="mb-0 text-dark">
                           <strong class="">Corpseed ITES Pvt. Ltd.</strong>  is a technology platform, make things easier for Entrepreneurs and businesses. Just like a seed is required to grow a tree similarly, there are few prerequisites like "Business Planning, finalizing the legal structure of the business, Govt Licenses/Permits, Legal compliance, financial structure & Integration of right technology to operate the business". These prerequisites act as a seed for an organization to grow successfully. These are the basic mandatory requirements a business must follow, in order to sustain in the current competitive environment. Our goal is to help entrepreneurs in managing these most important business requirements, at an affordable price for better growth, compliance, and sustainability.
                        </p>
                      </blockquote>
                      
                    <div class="mb-5">
                        <h4 class="text-dark mb-3">A Startup in 2017
                        </h4>
                        <p class=" mb-0">
                          A small team working out of a small space in Delhi starts out ambitiously, offering services like startup business plan for funding, company incorporation, intellectual property etc, Our services were loved by 9,000 business fist year.
                        </p>
                    </div>
                    <div class="mb-5">
                        <h4 class="text-dark mb-3">
                            Legal Services
                        </h4>
                        <p class=" mb-0">
                            Laws were created to protect and empower us as individuals, families and business owners but many people don't get the help they need because of high fees and complexity in legal structure. Together, we make the legal laws & regulations work for you. At CorpSeed, we ensure to make change by providing legal consulting services at an affordable price, simple and available to all mankind. We are proud to say that we've been able to build services that thousands of people rely upon. Every day we spend our time and resources making it easier for people and businesses to get the legal help they needed so that they can focus on building strong businesses.Legal being an unorganized sector, most attorneys agree that much can be done and should be done to improve general access to the law by reducing cost.
                        </p>
                    </div>

                    <div class="mb-5">
                        <h4 class="text-dark mb-3">
                            Our Approach - As a strategic partner
                        </h4>
                        <p class=" mb-0">
                            Tap our services as you move from concept to launch. This week it might be website development and, in a year, it could be cloud services, CRM or automated billing system. We align your IT system with your business goals, delivering infrastructure planning and scalable support along the way. We provide tech support and solutions as per your business requirements, enhancing revenue, and customer experience and customer loyalty while continuously reducing service costs. Our multi-channel service addresses all the concerns of technology implementation, upgrading, and maintenance, building a strong pillar for your business to survive and flourish in the challenges of the market. At CorpSeed, we take an innovation-led approach to help customers "imagine and invent" their future.

                        </p>
                    </div>
                    
                    <div class="mb-5">
                        <h4 class="text-dark mb-3">
                            Consulting
                        </h4>
                        <p class=" mb-0">
                            Incremental change rarely leads to long-term success. That's why CorpSeed consulting has been providing our clients with the tools they need to make bold, ground making moves. Strategize, Define, Design, and implement transformative business solutions that help the business built for the future. In today's business world, companies need to continually reinvent themselves for better survival in the competitive environment. At CorpSeed, we take an innovation-led approach to help customers "imagine and invent" their future. Through the CorpSeed innovative consulting solutions, we combine our capabilities to analyze, define, design, develop and deliver unmatchable innovations for clients, and to scale them continuously.
                        </p>
                    </div>

                    <div class="mb-5">
                        <h4 class="text-dark mb-3">
                            Technology Services
                        </h4>
                        <p class=" mb-0">
                            Around the Technology, we're known as techies for the businesses. Prior to starting CorpSeed, CorpSeed management worked for many years delivering IT and administrative support to a wide range of big MNCs and small businesses. Our method draws on a great appreciation for the challenges of being an entrepreneur in a fast-paced world.
                        </p>
                    </div>
                    <div class="mb-5">
                        <h4 class="text-dark mb-3">
                            Who We Are
                        </h4>
                        <p class=" mb-0">
                            We put our total efforts in making things simpler for our customers. We care for our customers' satisfaction and that is why we have a 100% money back guarantee.

                        </p>
                    </div>
                    <div class="mb-4">
                        <h5 class="text-dark mb-2">
                            We Are Expert

                        </h5>
                        <p class=" mb-0">
                            Our network of independent attorneys, Consultants and Technology support providers are experienced in a wide range of issues related to their area.
                        </p>
                    </div>

                    <div class="mb-4">
                        <h5 class="text-dark mb-2">
                            We are trustworthy
                        </h5>
                        <p class=" mb-0">
                            So far, 10,000 customers have relied upon us for help that their business needs and trusted us for great quality at a reasonable price. Our belief "we grow when our customers grow".
                        </p>
                    </div>

                    <div class="mb-4">
                        <h5 class="text-dark mb-2">
                            We deliver as per your requirement
                        </h5>
                        <p class=" mb-0">
                            Your entrepreneurial journey doesn't need to be confusing. We're here to help you understand what's best for you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="users/includes/footer :: footer"></div>
    	<div id="messageBar"></div>
        <div th:replace="users/includes/javascript :: javascript"></div>
    </main>    
</body>
</html>