<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="users/base::layout(~{::corpseedBodyContent})">

<body>
    <main th:fragment="corpseedBodyContent">
        <section class="contact">
            <div class="container">
                <div class="row cms-page">
                    <div class="col-12">
                        <div class="py-4 border-bottom border-light my-4">
                            <h1 class="display-4 text-center">F.A.Q</h1>
                            <p class="h4 font-weight-light text-center text-muted">Frequently Asked Questions</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8 mb-4">
                        <article>
                            <h4>Services We Provide</h4>
                            <div class="accordion" id="accordionfaq">
                                <div class="item">
	                                <div class="item-header" id="headingOne">
	                                    <h2 class="mb-0">
	                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
	                                            data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
	                                            Benefits of taking services from Corpseed ?
	                                         <img th:src="@{/assets/img/right-chevron.png}" alt="right chevron" class=" img-fluid"/>
	                                        </button>
	                                    </h2>
	                                </div>
	                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
	                                    data-parent="#accordionfaq">
	                                    	<div class="content">
	                                    		At Corpseed, we are committed to offer our services to the entrepreneurs and businesses as a very cost-effective proposition. We believe that a customer is always right and the focus of any business activity should be to serve the customer with utmost loyalty. All our services come with SLAs (Service Level Agreements) for on-time service delivery and money back guarantee to ensure high level of customer satisfaction.
	                                    	</div>
		                            </div>
	                            </div>                              	
                                
                                <div class="item">
	                                <div class="item-header" id="heading3">
	                                    <h2 class="mb-0">
	                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
	                                            data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
	                                            What is Corpseed cashback policy?
	                                         <img th:src="@{/assets/img/right-chevron.png}" alt="right chevron1" class=" img-fluid"/>
	                                        </button>
	                                    </h2>
	                                </div>
	                                <div id="collapse3" class="collapse" aria-labelledby="heading3"
	                                    data-parent="#accordionfaq">
	                                    	<div class="content">
	                                    		If a customer is not satisfied with the service we provided and if he contacts our customer care helpline and files a formal complaint within 15 days of service delivery date, Corpseed would refund the entire or partial amount of Professional Fee charged for that particular service.
	                                    	</div>
		                            </div>
	                            </div>
                                <div class="item">
	                                <div class="item-header" id="heading4">
	                                    <h2 class="mb-0">
	                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
	                                            data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
	                                            Process to register customer complaints?
	                                         <img th:src="@{/assets/img/right-chevron.png}" alt="right chevron2" class=" img-fluid"/>
	                                        </button>
	                                    </h2>
	                                </div>
	                                <div id="collapse4" class="collapse" aria-labelledby="heading4"
	                                    data-parent="#accordionfaq">
	                                    	<div class="content">
	                                    		If a customer is having issues with our service delivery process, he has various alternatives available at his disposal to register his grievance with us. He can either email his complaint at complaints@corpseed.com or he can call our 24x7 Customer Care Helpline. Also, any customer is always welcome to visit our office to lodge a complaint with the senior management.
	                                    	</div>
		                            </div>
	                            </div>
                                <div class="item">
	                                <div class="item-header" id="heading5">
	                                    <h2 class="mb-0">
	                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
	                                            data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
	                                            What is the process for online payment?
	                                         <img th:src="@{/assets/img/right-chevron.png}" alt="right chevron3" class=" img-fluid"/>
	                                        </button>
	                                    </h2>
	                                </div>
	                                <div id="collapse5" class="collapse" aria-labelledby="heading5"
	                                    data-parent="#accordionfaq">
	                                    	<div class="content">
	                                    		A customer can buy our services directly from our online platform, for which he need to make online payment. Once he clicks on "Apply Now", a new window will open, a customer is required to submit the information in the respective fields and click "Make Payment". A unique ticket number will be auto generated, the customer need to quote this number as reference for any enquiry regarding his service request.
	                                    	</div>
		                            </div>
	                            </div>
                                <div class="item">
	                                <div class="item-header" id="heading6">
	                                    <h2 class="mb-0">
	                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
	                                            data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
	                                            Is the online payment secured?
	                                         <img th:src="@{/assets/img/right-chevron.png}" alt="right chevron4" class="img-fluid"/>
	                                        </button>
	                                    </h2>
	                                </div>
	                                <div id="collapse6" class="collapse" aria-labelledby="heading6"
	                                    data-parent="#accordionfaq">
	                                    	<div class="content">
	                                    		All the monetary transactions performed on Corpseed online platform are secured with SSL System Protocol. We encrypt the customer information such as credit card and bank account details, before these are transmitted anywhere. We adhere to PCI DSS for data security standards for payment processing.
	                                    	</div>
		                            </div>
	                            </div>	                            	                            	                            	                            	                                                        
                                	
                              	</div>
                        </article>
                    </div>                    
                    <div class="col-lg-8">
                        <div class="other">
                            <p class="lead">
                                For job opportunities, please view our <a th:href="@{/join-our-team}">open roles</a>.
                            </p>
                            <p class="lead">
                                For business partnerships, please visit our <a th:href="@{/partner}">forum</a>.
                            </p>
                        </div>
                    </div>
                </div>

                </div> <!-- ./row -->         
        </section>
         <div th:replace="users/includes/footer :: footer"></div>
    	<div id="messageBar"></div>
        <div th:replace="users/includes/javascript :: javascript"></div>
        <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Do I need to be physically present during this process?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>Most unopened items in new condition and returned within <strong>90 days</strong> will receive a refund or exchange. Some items have a modified return policy noted on the receipt or packing slip. Items that are opened or damaged or do not have a receipt may be denied a refund or exchange. Items purchased online or in-store may be returned to any store.</p><p>Online purchases may be returned via a major parcel carrier. <a href=http://example.com/returns> Click here </a> to initiate a return.</p>"
        }
      }, {
        "@type": "Question",
        "name": "How much time is needed for setting up a private limited company in India?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "We will reimburse you for returned items in the same way you paid for them. For example, any amounts deducted from a gift card will be credited back to a gift card. For returns by mail, once we receive your return, we will process it within 4–5 business days. It may take up to 7 days after we process the return to reflect in your account, depending on your financial institution's processing time."
        }
      }, {
        "@type": "Question",
        "name": "Do I need to be physically present during this process?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>Our local teams work diligently to make sure that your order arrives on time, within our normaldelivery hours of 9AM to 8PM in the recipient's time zone. During  busy holiday periods like Christmas, Valentine's and Mother's Day, we may extend our delivery hours before 9AM and after 8PM to ensure that all gifts are delivered on time. If for any reason your gift does not arrive on time, our dedicated Customer Service agents will do everything they can to help successfully resolve your issue.</p><p><a href=https://example.com/orders/>Click here</a> to complete the form with your order-related question(s).</p>"
        }
      }, {
        "@type": "Question",
        "name": "When will my credit card be charged?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "We'll attempt to securely charge your credit card at the point of purchase online. If there's a problem, you'll be notified on the spot and prompted to use another card. Once we receive verification of sufficient funds, your payment will be completed and transferred securely to us. Your account will be charged in 24 to 48 hours."
        }
      }, {
        "@type": "Question",
        "name": "Will I be charged sales tax for online orders?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text":"Local and State sales tax will be collected if your recipient's mailing address is in: <ul><li>Arizona</li><li>California</li><li>Colorado</li></ul>"}
        }]
    }
    </script>
    </main>
</body>

</html>