<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
     <title th:text="${title}"></title>
    <meta name="description" th:content="${metaDescription}"/>
    <meta name="keywords" th:content="${metaKeyword}"/>
     <link rel="shortcut icon" type="image/png" th:href="@{/assets/img/fav.png}"/>
    <link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/main.css}"/>
</head>
<body>
    
    <div class="wrapper d-flex">
        <main class="p-0 m-0">
            <div class="container-fluid p-0 h-100">
                <div class="col-xl-12 col-lg-12 h-100 col-md-10 mx-auto">
                    <div class="login-form d-flex h-100 align-items-center">
                    	<form th:action="@{|/reset-password/${uuid}|}" method="post" class="form-signin form-validate bg-white rounded-lg shadow px-4">
							<div class="text-center mb-4">
                              	<img class="my-3" th:src="@{/assets/img/logo.png}" alt="Logo" width="140"/>
                              	<h1 class="h3 mb-3 font-weight-normal">Update Password</h1>
                                <span>You can reset you password here !!</span>
                                <div th:if="${message}" th:classappend="${message.type}" class="alert" role="alert" style="background: #0055cc12">
			  	               	     <p class="text-center" th:text="${message.content}"></p>  	           
					             </div>
                            </div> 
                            <div class="form-label-group">
                            	<input type="text" autocomplete="off" id="newPassword" name="newPassword" class="form-control" placeholder="New Password" required="required" autofocus=""/>
                              	<label for="inputEmail">New password</label>                              	
                            </div>
                            <div class="form-label-group">
                            	<input type="text" autocomplete="off" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required="required" autofocus=""/>
                              	<label for="inputEmail">Confirm Password</label>                              	
                            </div>						
                            <button class="btn btn-primary btn-block submit-valid mb-2" type="submit">Submit</button>
                            <p class="mt-5 mb-3 text-muted text-center">
                                &copy; <span id="year"></span>
                            </p>
                        </form>
                    </div>
                </div>
            </div> 
        </main>
    </div>
<script>
	document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
<script th:src="@{/admin/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/admin/js/main.js}"></script>
<script>
    $(".submit-valid").click(function() {
        //Fetch form to apply custom Bootstrap validation
        var form = $(".form-validate")
        // console.log(form.prop('id')); //test to ensure calling form correctly
        // console.log($('#fileInput')[0].files[0]);
        if (form[0].checkValidity() === false) {
        event.preventDefault()
        event.stopPropagation()
        }
        form.addClass('was-validated')
    });
</script>
</body>
</html>